<app-lateral-cancion></app-lateral-cancion>
<div class="contenedor">
</div>
  <div class="contenedorImg">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">Letra</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons"></i>Info</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
    <div class="row">
     <!--  <div class="col s12 m2">
        <i class="large material-icons">audiotrack</i>
      </div> -->
      <div class="col s12 m2">
        <i class="large material-icons">autorenew</i>  
      </div>
      <div class="col s12 m2">
        <i class="large material-icons">fast_rewind</i>
      </div>
      <div class="col s12 m2">
        <div class="col s12 m2">
          <i class="large material-icons">pause</i>
      </div>
      </div>
      <div class="col s12 m2">
        <i class="large material-icons">play_arrow</i>
      </div>
      <div class="col s12 m2">
        <i class="large material-icons">fast_forward</i>
      </div>
      <div class="col s12 m2">
        <i class="large material-icons">library_music</i>
      </div>
      <div class="col s12 m2">
        
      </div>
      <div class="col s12 m2">
        
      </div>
      <div class="col s12 m2">
        
      </div>
      
    </div>
</div>

