<app-lateral-cancion></app-lateral-cancion>
<div class="contenedor contenedorF" #Fondoimg>
</div>
<!-- [style.background]="this.color && this.sesion ? color.fondo: 'rgb(222, 222, 222)'"
      [style.color]="this.color && this.sesion ? color.fLetra: '#312f3b'"
      [style.boxShadow]="this.color && this.sesion ? color.sombra: '15px 15px 30px #666666, -15px -15px 30px #ffffff'" -->

<div class="contenedorImg " #fondoA>
  <!-- <img [src]="localhost:3000/api+infoCancion.imagen"> -->
  <!-- [style.background]="this.color && this.sesion ? color.fondo: 'rgb(222, 222, 222)'" -->
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">queue_music</i>Letra</div>
      <div class="collapsible-body">
        <p #letra class="letra"></p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">featured_play_list</i>Info</div>
      <div class="collapsible-body">
        <span #album></span><br>
        <span #anio></span><br>
        <span #artistas></span><br>
        <span #genero></span><br>
        <span #titulo></span><br>
        <audio #cancionSrc></audio>
      </div>
    </li>
  </ul>
</div>
<app-control></app-control>
