.superContenedor {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contenedor {
    background-image: url('src/assets/img/portadaC.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(30px);
    width: 75%;
    height: calc(100vh - 64px - 96px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.contenedorImg {
    background-image: url('src/assets/img/portadaC.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50%;
    position: absolute;
    top: 23%;
    left: 43%;
    z-index: 100;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.collapsible{
    width: 100%;
    margin: 0;
}
.collapsible-header{
    background: rgba(0,0,0,0.6);
    color: #dedede;    
}
.collapsible-body {
    background: rgba(0,0,0,0.6);
}
.collapsible-header:focus{
    background: rgba(0,0,0,0.6);
    color: #dedede;
}
.letra{
    max-height: 200px;
    overflow-y: scroll;
}