.menuLateral{
    height: calc(100vh - 65px);
    margin-top: 1px;
    width: 25%;
    z-index: 1000;
    margin-bottom: 0;
}
.collection{
    border: none;
}
.collection-item{
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}