
<ul class="left">
    
  <ul class="collection">
    <li class="collection-item avatar" style="padding-right: 20px;">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Tendencias</span>
      <p>First Line <br>
         Second Line
      </p>
      <br>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Favoritos</span>
      <p>First Line <br>
         Second Line
      </p>
    </li>
    <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Recientes</span>
      <p>First Line <br>
         Second Line
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Generos</span>
      <p>First Line <br>
         Second Line
      </p>
    </li>
  </ul>
</ul>
