<div class="container">
    <h2>Admin tab</h2>
    <div>
        formulario
        <form #ActualizarCancion="ngForm" (ngSubmit)="ProcesarFormulario()">

            <input placeholder="TituloCancion" type="text" name="titulo" #titulo="ngModel" [(ngModel)]="cancionTrabajada.titulo">
            <input placeholder="Artista" type="text" name="artista" #artista="ngModel" [(ngModel)]="cancionTrabajada.artista">
            <input placeholder="Album" type="text" name="album" #album="ngModel" [(ngModel)]="cancionTrabajada.album">
            <input placeholder="año" type="number" name="anio" #anio="ngModel" [(ngModel)]="cancionTrabajada.anio">
            <input placeholder="Genero" type="text" name="genero" #genero="ngModel" [(ngModel)]="cancionTrabajada.genero">
        
            <input type="hidden"  value="{{cancionTrabajada._id}}" #_id="ngModel" [(ngModel)]="cancionTrabajada._id">
            
            <div>
                <span>Subir imagen</span><br>
                <input type="file"  placeholder="Subir imagen del albúm o canción" (change)="subirArchivoImg($event)"/>
            </div>
            <!--audio controls>
                <source [src]=rutaCancion>
            </audio-->
            <div>
                <span>Subir audio</span><br>
                <input type="file"  placeholder="Subir archivo de música (mp3)" (change)="subirArchivoMusic($event)"/>
            </div> 
            <button type="submit">Guardar</button>
            <button type="reset" (click)="deleteId()">nuevo documento</button>
        </form>

        
    </div>
    <div>
        previsualizacion
        <img *ngIf="cancionTrabajada.imagenc" [src]=rutaImagenC>
        <audio controls #player>
            
        </audio>
        <button (click)="playsong()">play</button>
        
    </div>
    <div>
        filtro canciones
    </div>
    Lista de canciones<br>
    <div *ngFor="let cancion of listaCanciones.canciones" class="">
        <span>{{cancion.titulo}}</span>
        <button (click)="modCancion(cancion._id)">Modificar</button>
        <button (click)="delCancion(cancion._id)">Eliminar</button>
        
    </div>
</div>
