
<div class="container">
    <h2>Gestión de canciones</h2>
    <div>
        <h3>Registro y actualización</h3>
        <form class="col s12" #ActualizarCancion="ngForm" (ngSubmit)="ProcesarFormulario()">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">music_note</i>
                    <input id="icon_prefix" type="text" class="validate" name="titulo" #titulo="ngModel" [(ngModel)]="cancionTrabajada.titulo">
                    <label for="icon_prefix">Titulo</label>    
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate" name="artista" #artista="ngModel" [(ngModel)]="cancionTrabajada.artista">
                    <label for="icon_prefix">Artista</label>           
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">library_music</i>
                    <input id="icon_prefix" type="text" class="validate" name="album" #album="ngModel" [(ngModel)]="cancionTrabajada.album">
                    <label for="icon_prefix">Album</label>    
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">today</i>
                    <input id="icon_prefix" type="text" class="validate" name="anio" #anio="ngModel" [(ngModel)]="cancionTrabajada.anio" >
                    <label for="icon_prefix">Año</label>           
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">playlist_play</i>
                    <input id="icon_prefix" type="text" class="validate" name="genero" #genero="ngModel" [(ngModel)]="cancionTrabajada.genero">
                    <label for="icon_prefix">Genero</label>    
                </div>
                <input type="hidden"  value="{{cancionTrabajada._id}}" #_id="ngModel" [(ngModel)]="cancionTrabajada._id">
                
            </div>
            


            <div class="row">
                <div class="input-field col s6">
                    <div class="file-field input-field">
                        <div class="btn">
                          <span>Subir imagen</span>
                          <input type="file" multiple (change)="subirArchivoImg($event)">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Subir imagen del albúm o canción">
                        </div>
                    </div>
                </div>
                <div class="input-field col s6">
                    <div class="file-field input-field">
                        <div class="btn">
                          <span>Subir audio</span>
                          <input type="file" multiple (change)="subirArchivoMusic($event)" required>
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Subir archivo de música (mp3)">
                        </div>
                    </div>     
                </div>
                
            </div>







            <div class="row">
                <div class="input-field col s6 ">
                    <button type="submit" class="btn waves-effect waves-light" name="action">Guardar<i class="material-icons right">send</i></button>    
                </div>
                <div class="input-field col s6 ">
                    <button type="reset" (click)="deleteId()" class="btn waves-effect waves-light " name="action">Nuevo documento<i class="material-icons right">clear_all</i></button>
                </div>
                
            </div>
            
                <!--audio controls>
                    <source [src]=rutaCancion>
                </audio-->
           
        </form>

        
    </div>
    <div>
        <h3>Previsualización</h3>


        <div class="row">
            <div class="input-field col s6 ">
                <img class="img-song" *ngIf="cancionTrabajada.imagenc" [src]=rutaImagenC>
            </div>
            <div class="input-field col s6 ">
                <audio controls #player>
            
                </audio>
                <br>
                <button (click)="playsong()" class="btn waves-effect waves-light" >Play<i class="material-icons right">play_arrow</i></button>
                
            </div>
            
        </div>

        
        
    </div>
    
    <h3>Lista de canciones</h3>
    <table>
        <tr>
            <th>Nombre canción</th>
            <th>Actualizar canción</th>
            <th>Eliminar canción</th>
        </tr>
        <tr *ngFor="let cancion of listaCanciones.canciones" class="">
            <td> <span>{{cancion.titulo}}</span> </td>
            <td><button (click)="modCancion(cancion._id)"  class="btn waves-effect waves-light ">Modificar<i class="material-icons right">border_color</i></button></td>
            <td> <button (click)="delCancion(cancion._id)"  class="btn waves-effect waves-light red">Eliminar<i class="material-icons right">delete</i></button></td>
            
        </tr>
    </table>
</div>
