.container{
    display: flex;
    height: calc(100vh - 64px);
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.container-login{
    
    border-radius: 10px;
}

.title-form{
    text-align: center;
    padding: 10px;
}

.btn{
    display: block;
    margin: 0 auto;
}