<nav #menu>
    <div class="nav-wrapper">

      
            <img src={{logo}} class="logo" alt="">
        
            <ul id="nav-mobile" class="right hide-on-med-and-down ">
                <li><a class="links" #inicio routerLink="/">Inicio</a></li>
                <li><a class="links" #login routerLink="/login">Login</a></li>
                <li><a class="links" #registro routerLink="/registro">Registro</a></li>
                <li><a class="links" #registroCancion routerLink="/registroCancion">Registro Cancion</a></li>
                <li [style.display]="this.sesion ? 'block' : 'none'" > <a routerLink="/perfil">
                    
                    <div class="chip">
                        <img src={{imgUsu}} alt="Icon user">
                        {{user}}
                    </div>
                </a>
                </li>
            </ul>
      

    </div>

    

</nav>