<!-- barra control -->
<div class="contendorBarraControl">
  <div class="row contenedor">
    <!--  <div class="col s12 m2">
       <i class="large material-icons">audiotrack</i>
     </div> -->
    <!-- <div class="col s12 m2 boton">
      <i class="large material-icons">autorenew</i>
    </div> -->
    <div class="boton">
      <i class="large material-icons">fast_rewind</i>
    </div>
    <div class="boton">
      <i class="large material-icons">pause</i>
    </div>
    <div class="boton">
      <i class="large material-icons">play_arrow</i>
    </div>
    <div class="boton">
      <i class="large material-icons">fast_forward</i>
    </div>
    <!-- <div class="col s12 m2 boton">
      <i class="large material-icons">library_music</i>
    </div> -->
    <!-- <div class="col s12 m2 boton">

    </div>
    <div class="col s12 m2 boton">

    </div>
    <div class="col s12 m2 boton">

    </div> -->

  </div>
</div>