/* You can add global styles to this file, and also import other style files */
body{
    background:  #dedede;
    color: white;
}
.t612079{
    background-color:#612079;
}
.tc75ac0{
    background-color: #c75ac0;
}
.tdedede{
    background-color: #dedede;

}
.t312f3b{
    background-color: #312f3b;
}
.lBlanco{
    color:white;
}